{% extends 'layouts.html' %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row my-3">
        {% for product in products %}
            <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="{{product.image.url}}" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="{{product.get_url}}">{{product.name}}</a>
                </h4>
                <h5>{{product.price | floatformat:'g'}} Bahts</h5>
                <p class="card-text">{{product.description | slice:":100"}}</p>
              </div>
              <div class="card-footer">
                {% if product.stock <= 0 %}
                    <p class="text-danger">OUT OF STOCK</p>
                {% else %}
                    <a href="{% url 'addCart' product.id %}" class="btn btn-primary">ADD TO CART</a>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}